@font-face {
  font-family: Play-Bold;
  src: url(./fonts/Play-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Play-Bold, Roboto, Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: #232344;
  --sub-theme: #575784;
  --item-theme: #c7c7e4;
  --button-theme: #4747e2;
  --button-hover-theme: #6969ff;
  --accent-theme: #2e2e57;
  --hover-theme: #e1e1f7;
  --orange-theme: #ffaf1a;
  --paragraph-theme: #444;
  --white-theme: #efefff;
  --shadow-theme: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 10px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24rem 30rem 1fr;
  height: 100vh;
}

.container ul {
  list-style: none;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  padding: 2.4rem;
  background-color: var(--main-theme);
  border-right: none;
  border-bottom: 0.1rem solid var(--white-theme);
}

.app-title-container {
  display: grid;
  grid-template-columns: 2.8rem auto;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.8rem;
}

.app-title {
  font-size: 2.6rem;
  color: var(--item-theme);
  cursor: pointer;
}

.app-title:hover {
  color: var(--white-theme);
}

.sidebar ul {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 2rem);
  align-items: center;
  gap: 3.2rem 4.4rem;
  margin-left: 0.4rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 2.2rem 0;
  align-items: center;
  gap: 1.2rem;
}

.sidebar img {
  filter: invert(87%) sepia(12%) saturate(976%) hue-rotate(197deg) brightness(94%) contrast(89%);
  cursor: pointer;
}

.sidebar p {
  font-size: 2.2rem;
  color: var(--item-theme);
  cursor: pointer;
}

.sidebar p:hover {
  color: var(--white-theme);
}

.header {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  align-items: center;
  grid-template-rows: 6rem 8rem 4rem;
  gap: 4rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--main-theme);
  border-bottom: 0.1rem solid var(--white-theme);
}

.first-header-row {
  display: grid;
  grid-template-columns: 2.4rem 1fr 2.4rem 4.4rem 6rem;
  gap: 1.2rem;
  align-items: center;
  margin-right: 2rem;
}

.icons {
  filter: invert(99%) sepia(57%) saturate(3148%) hue-rotate(180deg) brightness(107%) contrast(106%);
  cursor: pointer;
}

.message {
  width: 100%;
  font-size: 2.2rem;
  line-height: 1.3;
  color: var(--white-theme);
}

#search {
  width: 26rem;
  padding: 0.6rem 1.6rem;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  background-color: var(--item-theme);
  border: none;
  border-radius: 1.6rem;
}

#search:focus {
  background-color: var(--hover-theme);
}

.sub-photo {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: cover;
  object-position: 65%;
  border-radius: 50%;
  cursor: pointer;
}

.sub-photo:hover {
  opacity: 0.85;
}

.username {
  font-size: 1.6rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--white-theme);
}

.header a {
  text-decoration: none;
}

.header a:hover {
  opacity: 0.8;
}

.header span {
  font-size: 2rem;
  color: var(--white-theme);
  cursor: pointer;
}

.odin-link {
  font-size: 2.2rem;
  color: var(--white-theme);
}

.odin-link:hover {
  text-decoration: underline;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header button {
  width: 10rem;
  padding: 0.8rem 0;
  font-size: 1.8rem;
  color: var(--white-theme);
  background-color: var(--button-theme);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.header button:hover {
  background-color: var(--button-hover-theme);
}

.main {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 36rem 36rem;
  gap: 6rem 4rem;
  padding: 4rem 2.4rem 6rem;
  background-color: var(--sub-theme);
}

.projects {
  grid-row: 1;
  background-color: var(--sub-theme);
}

.section-title {
  text-align: center;
  margin-bottom: 2.8rem;
  font-size: 2.4rem;
  color: var(--white-theme);
}

.projects .section-title {
  margin-bottom: 4rem;
}

.projects ul {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 2.8rem;
}

.projects li {
  width: 36rem;
  padding: 0 0.8rem;
  background-image: linear-gradient(90deg, var(--accent-theme) 0.8rem, var(--item-theme) 0);
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
  cursor: pointer;
}

.projects a {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2rem 2rem 2rem;
  grid-template-rows: 2.4rem 10rem 2rem;
  gap: 1.2rem;
  text-decoration: none;
}

.projects li:hover {
  background-image: linear-gradient(90deg, var(--orange-theme) 0.8rem, var(--hover-theme) 0);
}

.project-title {
  grid-column: 1 / 5;
  grid-row: 1;
  font-size: 2.2rem;
  color: var(--main-theme);
}

.projects p,
.projects span {
  font-size: 1.8rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.projects p {
  grid-column: 1 / 5;
  grid-row: 2;
  line-height: 1.4;
  color: var(--paragraph-theme);
}

.projects span {
  font-style: italic;
}

.projects img {
  filter: invert(7%) sepia(48%) saturate(2463%) hue-rotate(224deg) brightness(96%) contrast(85%);
}

.first-icon {
  grid-column: 2;
}

.announcements,
.trending {
  display: grid;
  justify-content: center;
}

.announcements {
  padding-bottom: 4rem;
}

.announcements ul,
.trending ul {
  display: grid;
  width: 30rem;
  height: 30rem;
  background-color: var(--item-theme);
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 0.8rem var(--shadow-theme);
}

.announcements ul {
  grid-template-rows: repeat(3, 1fr);
}

.announcements li {
  padding: 1.2rem 2rem;
  border-bottom: 0.1rem solid var(--white-theme);
  cursor: pointer;
}

.announcements li:hover {
  background-color: var(--white-theme);
}

.announcements li:first-child,
.trending li:first-child {
  border-radius: 0.8rem 0.8rem 0 0;
}

.announcements li:last-child,
.trending li:last-child {
  border-radius: 0 0 0.8rem 0.8rem;
}

.announcement-title {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  color: var(--main-theme);
}

.announcements p {
  padding: 0.2rem 0;
  font-size: 1.6rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--paragraph-theme);
}

.trending {
  grid-row: 3;
}

.trending ul {
  grid-template-rows: repeat(4, 7.5rem);
}

.trending li {
  display: grid;
  grid-template-columns: 4.8rem 1fr;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.trending li:last-child {
  border-bottom: none;
}

.trending li:hover {
  background-color: var(--hover-theme);
}

.trending img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  border-radius: 50%;
}

.trending p {
  font-size: 1.6rem;
}

.trending p:first-child {
  margin-bottom: 0.2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--main-theme);
}

.trending p:last-child {
  color: var(--paragraph-theme);
}
/* For smartphones in portrait mode */
@media screen and (orientation: portrait) {
  html {
    font-size: 6.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 22.5em) {
  html {
    font-size: 7.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 23.4em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: portrait) and (min-width: 24.3em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: portrait) and (min-width: 25.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: portrait) and (min-width: 26.75em) {
  html {
    font-size: 8.5px;
  }
}
/* For small tablets in portrait mode and all devices in landscape mode */
@media screen and (orientation: portrait) and (min-width: 48em), (orientation: landscape) {
  .container {
    grid-template-rows: 20rem 24rem auto;
  }

  .sidebar ul {
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(2, 2rem);
    justify-content: center;
    gap: 3.6rem 8.4rem;
  }

  .header {
    gap: 1.2rem;
  }

  #search {
    width: 40rem;
  }

  .main {
    grid-template-rows: auto 36rem;
  }

  .projects ul {
    grid-template-columns: auto auto;
    gap: 3.2rem 4rem;
  }

  .right-side {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 4rem;
  }

  .announcements {
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 0;
  }

  .trending {
    grid-column: 2;
    grid-row: 1;
  }
}
/* For middle tablets in portrait mode */
@media screen and (orientation: portrait) and (min-width: 50em) {
  html {
    font-size: 9px;
  }
}
/* For large tablets in portrait mode */
@media screen and (orientation: portrait) and (min-width: 57em) {
  html {
    font-size: 10px;
  }
}
/* For smartphones in landscape mode */
@media screen and (orientation: landscape) {
  html {
    font-size: 6.25px;
  }

  .header {
    gap: 0.8rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 41.6em) {
  html {
    font-size: 7.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 46.25em) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (orientation: landscape) and (min-width: 50em) {
  html {
    font-size: 7.75px;
  }
}

@media screen and (orientation: landscape) and (min-width: 52.7em) {
  html {
    font-size: 8px;
  }
}

@media screen and (orientation: landscape) and (min-width: 55.75em) {
  html {
    font-size: 8.25px;
  }
}

@media screen and (orientation: landscape) and (min-width: 58em) {
  html {
    font-size: 8.5px;
  }
}
/* For middle tablets in landscape mode */
@media screen and (orientation: landscape) and (min-width: 73.75rem) {
  html {
    font-size: 9px;
  }
}
/* For large tablets in landscape mode */
@media screen and (orientation: landscape) and (min-width: 84rem) {
  html {
    font-size: 10px;
  }
}
/* For laptops and desktops */
@media screen and (orientation: landscape) and (min-width: 94rem) {
  .container {
    grid-template-columns: 32rem 1fr;
    grid-template-rows: 24rem 1fr;
  }

  .sidebar {
    grid-row: 1 / 3;
    padding: 3.6rem 0 0 3.6rem;
    border-right: 0.1rem solid var(--white-theme);
  }

  .app-title-container {
    grid-template-columns: 3rem 1fr;
    gap: 1.2rem;
    margin-bottom: 4rem;
  }

  .sidebar ul {
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, auto);
    gap: 2.8rem;
    margin-left: 2rem;
  }

  .sidebar li {
    grid-template-columns: 2.4rem 0;
    gap: 2rem;
  }

  .sidebar li:nth-child(6) {
    margin-bottom: 6rem;
  }

  .sidebar p {
    font-size: 2.4rem;
  }

  .header {
    grid-column: 2;
    grid-row: 1;
    gap: 0.8rem;
    padding: 2.4rem;
  }

  #search {
    width: 40rem;
  }

  .message {
    font-size: 2.4rem;
  }

  .btn-container {
    justify-content: end;
  }

  .main {
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 34rem;
    grid-template-rows: 36rem;
    gap: 2rem 4rem;
    padding: 2.8rem 1.6rem 6rem 3.2rem;
  }

  .projects {
    grid-row: 1 / 3;
  }

  .section-title {
    text-align: left;
    margin-bottom: 2rem;
  }

  .projects ul {
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
    gap: 2.4rem;
  }

  .right-side {
    display: block;
  }

  .announcements {
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 6rem;
  }

  .trending {
    grid-row: 3;
  }
}
